.DS_Store
*/.DS_Store
*.log
*.aux
*.synctex.gz
*.lof
*.lot
*.toc
minidisc_paper.pdf
*.txt
*.bbl
*.blg
apj/*
*.zip
*.tar.gz
toArxivV1
arxiv/*
cover_apj.pdf
referee_response.pdf
minidisc_paperNotes.bib
